[Unit]
Description=ADS Socket Client ADSB
After=network.target rc-local.service
[Service]
Restart=always
RestartSec=10s
User=pi
ExecStart=/home/pi/java-socket-bridge-utility/client/scripts/run_clientAdsb.sh
SuccessExitStatus=143
[Install]
WantedBy=multi-user.target
