[Unit]
Description=ADS Socket Server AIS 2
After=network.target rc-local.service
[Service]
Restart=always
RestartSec=10s
User=ec2-user
ExecStart=/home/ec2-user/java-socket-bridge-utility/server/scripts/run_serverAis2.sh
SuccessExitStatus=143
StandardOutput=file:/var/log/server/serverAis2.log
StandardError=file:/var/log/server/serverAis2.log
[Install]
WantedBy=multi-user.target
