[Unit]
Description=ADS Socket Server AIS
After=network.target rc-local.service
[Service]
Restart=always
RestartSec=10s
User=ec2-user
ExecStart=/home/ec2-user/java-socket-bridge-utility/server/scripts/run_serverAis.sh
SuccessExitStatus=143
StandardOutput=file:/var/log/server/serverAis.log
StandardError=file:/var/log/server/serverAis.log
[Install]
WantedBy=multi-user.target
