[Unit]
Description=ADS Socket Server ADSB
After=network.target rc-local.service
[Service]
Restart=always
RestartSec=10s
User=ec2-user
ExecStart=/home/ec2-user/java-socket-bridge-utility/server/scripts/run_serverAdsb.sh
SuccessExitStatus=143
StandardOutput=append:/tmp/serverAdsb.log
StandardError=append:/tmp/serverAdsb.log
[Install]
WantedBy=multi-user.target
